/* ////////////Page//////// */
.{
  font-family: 'Open Sans', sans-serif;
}
.container{
  height: 100vh;
 display: grid;
 grid-template-rows: 1fr 60px;
}
.content{
  padding: 10px;
}

/* ////////////Page//////// */
/* ////////////Footer//////// */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 39px 27px; */
  background: #FEC20B;
}


/* ////////////Footer//////// */

/* ////////////NavBar//////// */
.nav-bar-container{
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: white;

  }

/* ////////////NavBar//////// */
/* ////////////HomePage//////// */

.home-page-instagram{
display: flex;
flex-direction: column;
align-items: center;
}

.home-page-scroll-chat-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.chat-scroll{

}
.instagram-main-container{
  height: 350px;
  display: flex;
justify-content: center;
align-items: center;
}
.home-page-event-button{
  font-size: 2px;
  margin-top: 20px;
  background-color: #6083B5;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.instagram-image-component{
  width: 90%;

}
.map-image-component{
  width: 100px;
  height: 100px;
}
.map-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.map-container p{
  font-weight: bold;
}

.fa-map-marker{
  font-size: 40px;
}
.picture{
  width: 60px;
}
/* ////////////HomePage//////// */
