/* ////////////Page//////// */
.{
  font-family: 'Open Sans', sans-serif;
}
@keyframes example1 {
0%   {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}
.container{
  height: 100vh;
 display: grid;
 grid-template-rows: 1fr 60px;
}
.content{
  padding: 10px;
  background-color: #efefef;
  margin: 15px;
}

/* ////////////Page//////// */
/* ////////////Footer//////// */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 39px 27px; */
  background: #FEC20B;
}


/* ////////////Footer//////// */

/* ////////////NavBar//////// */
.nav-bar-container{
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: white;

  }

/* ////////////NavBar//////// */
/* ////////////HomePage//////// */

.home-page-instagram{
display: flex;
flex-direction: column;
align-items: center;
background-color: #ffc300;
margin-top: 20px;
}

.home-page-scroll-chat-container{
  display: flex;
  justify-content: center;
  height: 40px;
}
.chat-scroll{
  height: 35px;
  width: 100%;
  overflow: hidden;
  position: relative;
 }
 .chat-scroll > p{
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 35px;
   transform:translateX(100%);
   animation: example1 16s linear infinite;
   box-shadow: 4px 5px #888888;
   background-color: white;
   font-weight: bold;

  }

.instagram-main-container{
  height: 350px;
  display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;

}
.home-page-event-button{
  font-size: 2px;
  margin-top: 20px;
  background-color: #6083B5;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.instagram-image-component{
  width: 90%;

}
.map-image-component{
  width: 100px;
  height: 100px;
}
.map-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.map-container p{
  font-weight: bold;
}

.fa-map-marker{
  font-size: 60px;
}
.picture{
  width: 60px;
}
/* ////////////HomePage//////// */
.home-button-container{
  display: flex;
  justify-content: center;
}
.home-button-container button{
  font-size: 19px;
      border-radius: 8px;
      background-color: #ffc300;
      color: white;
      font-weight: bold;
      padding: 5px;
}
.scroll-and-button{
  padding: 5px;
}



/* ////////////Login//////// */
.main-login-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.main-login-form p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;

}

.main-login-form p:nth-child(1){
  font-weight: 300;

}

.main-login-form button{
  font-size: 30px;
  background-color: #ffc300;
  width: 40%;
  margin: 0 90px 0 90px;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
}
.login-form{
  display: flex;
  flex-direction: column;
}

.form-container{
  width: 300px;
}

input{
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  padding: 5px;

}
.line{
  height: 20px;
  background-color: #FEC20B;
}


/* ///////////chat container////// */

.chat-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.field-container{
  height: 450px;
  width: 361px;
  overflow: scroll;

}
/* ///////////chat container////// */
.chat-button{

}
.chat-group{

}

.chat-input{
  width: 306px;
  height: 33px;
}
/* ////////////Login//////// */



/* ////////////Help//////// */

.help-main-container{
  height: 584px;
}

.help-small-container{
  height: 181px;
}

.help-small-container-1{
  height: 363px;
}

.help-rectangle{
  height: 50px;
  margin: 10px 0 10px 0;
  border: solid 1px black;
  display: flex;
  align-items: center;

}

.icon-container{
  height: 40px;
display: flex;
align-items: center;
width: 361px;
}


/* ////////////Help//////// */
